<%= form_for(@article) do |f| %>
  <%= f.label :article_Title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.text_field :author%>

  <%= f.label :tagline %>
  <%= f.text_field :tagline %>

  <%= f.label :post %>
  <%= f.text_field :post %>

  <div class="field">
    add an image....
    <%= f.file_field :image %>
  </div>

  <%= f.submit %>
<% end %>